.Counter {
  text-align: center;
  background-color: yellow;
  width: 600px;
  height: 300px;
  min-width: 300px;
  min-height: 150px;
  border: outset;
}

.Display {
  text-align: center;
  background-color: white;
  width: 80%;
  height: 50px;
  margin: 10% auto;
  line-height: 50px;
  border: inset;
}

.Button {
  color: #fff;
  background-color: #ffa500;
  border-bottom: 5px solid #ff8c00;
  border-radius: 100vh;
}

#button_count:active {
  margin-top: 3px;
  color: #fff;
  background: #ffa500;
  border-bottom: 2px solid #ff8c00;
}
